<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  
  <title>Those Shoes Are Killing Me</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>

  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <div id="wrapper">
    <div id="user-container">
      <label for="user">What's your candle?</label>
      <input type="text" name="user" id="user">
      <button type="button" id="join-chat">Join Wick!</button>
    </div>

    <div id="main-container" class="hidden">
      <button type="button" id="leave-room">Kill Ur.s3lf</button>
      <div id="messages"></div>

      <div id="msg-container">
        <input type="text" name="msg" id="msg">
        <button type="button" id="send-msg">Send</button>
      </div>
    </div>
  </div>

  <script id="messages-template" type="text/x-handlebars-template">
    {{#each messages}}
      <div class="msg">
        <div class="time">{{time}}</div>
        <div class="details">
          <span class="user">{{user}}</span>: <span class="text">{{text}}</span>
        </div>
      </div>
    {{/each}}
  </script>

  <script src="js/main.js"></script>
</body>
</html>
