/* Account Page Styling */
$primary-color:    #343A40;
$secondary-color:  white;
$compliment-color: whitesmoke;

/* Section needed in order to push footer to the bottom of the page*/
html,body{
  height:100%;
}
#theFooter{
  width:100%;
  position: absolute;
  bottom:0;
}
#fill-window{
  min-height:100%;
  position:relative;
}
/*******************************************************************/

#logoLeft{
  border-right:1px solid $secondary-color;
}

/* Account Page Side Navigation */
#sideNav{
  .active{
    color:white;
    background-color: $primary-color !important;
    border-color: $primary-color !important;
  }
  *:not(.active){
    color:black;
  }
  span{
    color:$secondary-color !important;
  }
  a.active span{
    color:$primary-color !important;
    background-color: $secondary-color !important;
  }
  a:hover:not(.active){
    background-color: $compliment-color;
  }
}

#profile-content{
  .form-group{
    margin-bottom:5px;
  }
  .input-group{
    margin-top:5px;
  }
}
#pswdUpdate-form{
  width:100%;
  padding:10px 5px;
}

.table{
  border-top-style: hidden !important;
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px){
  #submitBtn-Alg,#submitBtn-Data{
    margin-top:10px;
  }
}
/* Aligns upload buttons once screen becomes very small */
@media (max-width: 421px){
  #uploadFileLauncher-Alg, #uploadFileLauncher-Data{
    border-radius: 5px !important;
    margin-top:10px;
  }
  #alg-label,#data-label{
    border-radius: 5px ;
  }
  #submitBtn-Alg,#submitBtn-Data{
    position: relative;
    float:right;
    bottom:100%;
  }
}
