/* Form related styling */
$primary-color:    #343A40;
$secondary-color:  white;
$form-color: whitesmoke;
$text-color: black;
$form-radius: 3px;

/* Form wrapper with a max width */
.formWrap{
  background-color: $form-color;
  border-radius: $form-radius;
  margin:auto;
  max-width:400px;
  padding:20px 40px;

  .form-group{
    margin-bottom:10px;
  }
}
/* Wrapper around a form. No minimum width */
.formWrap-slim{
  background-color: $form-color;
  border-radius: $form-radius;
  padding:25px;
}
.formWrap,.formWrap-slim{
  & *:not(button){
    color:$text-color;
  }
  & .form-label{
    color:$text-color;
    font-size:16px;
    font-weight:600;
  }
}
/* For links at the bottom of a form */
.formOptions{
  padding:0;
  margin: 0;
  font-size:15px;
  text-align:center;
  list-style-type: none;
}

/* Navigation Tabs */
.nav-item, .nav-link{
  height:100% !important;
}
.nav-tabs-theme{
  margin-top:20px !important;
  margin-bottom:10px !important;
  padding-bottom:0px;
  margin-bottom: 0px;
  border-bottom: 2px solid $primary-color;

  .nav-link{
    text-align:center;
    border-radius:0px;

    &:hover{
      text-decoration: none;
    }
    &.active{
      color:$secondary-color !important;
      border:none !important;
      background-color: $primary-color !important;
      padding-bottom:10px;
    }
  }

  a:not(.active){
    color:$primary-color;

    &:hover{
      background-color: $secondary-color;
      color:$primary-color;
      border-bottom:0px solid $primary-color;
    }
  }
}

.error-tip{
  color:crimson !important;
  font-size: 12px;
  padding-top:5px;
}

/* Login Page - two tabs */
#loginRegisterTabs .nav-item{
  width:50%;
}
#registerForm{
  .form-group{
    margin-bottom: 0;
  }
  dd{
    margin-bottom: 0;
  }
}
/* Login Page - Popup request for new password */
#fgotPswd-popup{
  background-color: whitesmoke;
  margin:0 auto;
  width:80%;
  position:absolute;
  z-index:2;
  top:20px;
  left:0;
  right:0;
}
/* Button to close the pop up*/
#fgotPswd-exit{
  position:relative;
  right:10px;
  top:10px;
}
