/*
  General CSS style shared by multiple pages.
  Use of !important required for modification of some bootstrap styles.
*/
html, body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  min-width: 393px;
}

/* Main Color Schemes */
.dark-theme {
  background-color: #343A40;
  color: white;
}

.light-theme {
  background-color: white;
  color: #343A40;
}

.text-dark-theme {
  color: #343A40;
}

.text-light-theme {
  color: white;
}

.border-dark-theme {
  border-color: #343A40;
}

.border-light-theme {
  border-color: whitesmoke;
}

/*
  Standard buttons with applied color theme
  Format: class='btn btn-<option>-theme'
*/
.btn-dark-theme {
  background-color: #343A40;
}

.btn-light-theme {
  background-color: white;
}

/*
  Transparent Buttons with colored outline
  Format: class='btn btn-outline btn-<option>-theme'
*/
.btn-outline {
  background-color: transparent;
}
.btn-outline.btn-dark-theme {
  border-color: #343A40;
  color: #343A40;
}
.btn-outline.btn-dark-theme:hover {
  color: white;
  background-color: #343A40;
}
.btn-outline.btn-dark-theme:focus {
  box-shadow: rgba(22, 38, 59, 0.4) 0px 0px 0px 0.2rem;
}
.btn-outline.btn-light-theme {
  border-color: white;
  color: white;
}
.btn-outline.btn-light-theme:hover {
  color: #343A40;
  background-color: white;
}
.btn-outline.btn-light-theme:focus {
  box-shadow: rgba(22, 38, 59, 0.4) 0px 0px 0px 0.2rem;
}

/* Removed excess margin on bottom */
.jumbotron {
  margin-bottom: 0px !important;
}

.btn-block {
  margin: 15px auto;
}

/* Extra padding around nav*/
.navbar {
  padding: 5px 0px;
}

.nav-link:not(.disabled):hover {
  text-decoration: underline;
}

/* Container of a fontawesome icon */
.glyph {
  width: 14px;
  display: inline-block;
  text-align: center;
}

/*
  Adds border on the bottom with some padding to push it down
  Colors can be adjusted w/bootstrap classes: border-dark, border-light, etc.
*/
.title {
  padding-bottom: 10px;
  border-bottom: 1px solid #343A40;
}

/* Wrapper around a form. No minimum width */
.formWrap-slim {
  background-color: whitesmoke;
  border-radius: 4px;
  padding: 25px;
}
.formWrap-slim *:not(button) {
  color: #343A40;
}

/* For links at the bottom of a form */
.formOptions {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
  text-align: center;
}

/* Custom alert displayed at the top of the page */
.alert-custom {
  background-color: #343A40;
  color: white;
  border-radius: 0px;
  border-bottom: 1px solid whitesmoke;
}
.alert-custom button {
  color: white !important;
}

/* For elements that contain a pop up tip */
.has-pop-up {
  position: relative;
  display: inline-block;
  /* Pop up tip */
  /* adds triangle on pop up */
}
.has-pop-up .pop-up-content {
  visibility: hidden;
  background-color: #555;
  color: white;
  text-align: center;
  padding: 5px 10px;
  margin-left: -60px;
  border-radius: 5px;
  position: absolute;
  z-index: 10;
  right: 0;
  bottom: -100%;
  opacity: 0;
  transition: opacity 1s;
}
.has-pop-up .pop-up-content::after {
  content: "";
  position: absolute;
  top: -30%;
  right: 8%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555;
}
.has-pop-up:hover .pop-up-content {
  visibility: visible;
  opacity: 1;
}

/* For Carousel of Images */
.carousel {
  height: 200px;
  /* Carousel image */
  /* Modify Next Icon Color and Location */
  /* Modify Previous Icon Color and Location */
}
.carousel .img-fluid {
  max-height: 60%;
  width: auto;
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding-bottom: 10px;
}
.carousel .carousel-inner, .carousel .carousel-item {
  height: 100%;
}
.carousel .carousel-control-next-icon {
  position: absolute;
  right: 0px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%343A40' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.carousel .carousel-control-prev-icon {
  position: absolute;
  left: 0;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%343A40' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel .carousel-indicators li {
  background-color: whitesmoke;
  border-color: black;
}
.carousel .carousel-indicators .active {
  background-color: black;
}

/* Remove Google's autofill color */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  -webkit-text-fill-color: black !important;
  background-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, textarea:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 10000px white inset;
  -webkit-text-fill-color: black !important;
  background-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus, select:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  -webkit-text-fill-color: black !important;
  background-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* Main Logo Css */
#logoLeft, #logoRight {
  height: 50px;
}

#logoLeft {
  float: left;
  padding-right: 15px;
  border-right: 1px solid #343A40;
}

/* content of left logo */
#ll-content {
  font-weight: 400px;
  font-size: 20px;
}

#logoRight {
  display: inline-block;
  padding-left: 15px;
}

/* Container of imgs in footer */
#sponsorImgs {
  margin-bottom: 10px;
}
#sponsorImgs img {
  width: 100%;
  height: auto;
}

#theFooter {
  width: 100%;
  border-top: 1px solid #343A40;
}
#theFooter .title {
  font-size: 18px !important;
}

/* Container for links inside of footer */
#footerLinksWrap {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  border-radius: 0px !important;
  background-color: #343A40;
  color: white;
  font-size: 12px;
  font-weight: 500;
}
#footerLinksWrap a {
  color: white;
}

/*
  Container of top portion of footer
  Contact Info + Research Team + Sponsors
*/
#footerUpper {
  padding-top: 40px !important;
  padding-bottom: 20px !important;
}
#footerUpper * {
  font-size: 14px;
  font-weight: 400;
}

#contactInfo, #researchTeam {
  padding-bottom: 20px;
}

/* List of research team */
#researchTeam ul {
  list-style-type: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 18px;
  margin-top: 0;
  margin-bottom: 0;
}

/***** Media Queries *****/
/*--- Bootstrap breakpoints ---*/
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #researchTeam ul li {
    list-style-type: none;
    text-align: center;
  }

  .formWrap-slim {
    margin-left: 5px;
    margin-right: 5px;
    padding: 30px 40px;
  }
  .formWrap-slim h3 {
    padding-bottom: 20px;
  }
}
/* Small devices (landscape phones, less than 768px) */
/* Medium devices (tablets, less than 992px) */
/* Large devices (desktops, less than 1200px) */
/*--- Other Media Quieres ---*/
/* CSS for width >= 1200px */
@media (min-width: 1200px) {
  /* Prevents sponsor images from becoming too large */
  .logoBox > img {
    display: block;
    width: 80% !important;
    height: auto;
    margin: auto;
  }

  .formWrap-slim {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 460px) {
  /* Reduces Padding of main logo in navbar*/
  #logoLeft {
    padding-right: 10px;
  }

  #logoRight {
    padding-left: 10px;
  }
}
/* Breakpoint - nav collapses */
@media (max-width: 992px) {
  /* Modify orientation and direction of onhover tips */
  .has-pop-up .pop-up-content {
    right: 82%;
    bottom: -92%;
  }
  .has-pop-up .pop-up-content::after {
    top: -30%;
    right: 80%;
  }
}
