/* Form related styling */
/* Form wrapper with a max width */
.formWrap {
  background-color: whitesmoke;
  border-radius: 3px;
  margin: auto;
  max-width: 400px;
  padding: 20px 40px;
}
.formWrap .form-group {
  margin-bottom: 10px;
}

/* Wrapper around a form. No minimum width */
.formWrap-slim {
  background-color: whitesmoke;
  border-radius: 3px;
  padding: 25px;
}

.formWrap *:not(button), .formWrap-slim *:not(button) {
  color: black;
}
.formWrap .form-label, .formWrap-slim .form-label {
  color: black;
  font-size: 16px;
  font-weight: 600;
}

/* For links at the bottom of a form */
.formOptions {
  padding: 0;
  margin: 0;
  font-size: 15px;
  text-align: center;
  list-style-type: none;
}

/* Navigation Tabs */
.nav-item, .nav-link {
  height: 100% !important;
}

.nav-tabs-theme {
  margin-top: 20px !important;
  margin-bottom: 10px !important;
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: 2px solid #343A40;
}
.nav-tabs-theme .nav-link {
  text-align: center;
  border-radius: 0px;
}
.nav-tabs-theme .nav-link:hover {
  text-decoration: none;
}
.nav-tabs-theme .nav-link.active {
  color: white !important;
  border: none !important;
  background-color: #343A40 !important;
  padding-bottom: 10px;
}
.nav-tabs-theme a:not(.active) {
  color: #343A40;
}
.nav-tabs-theme a:not(.active):hover {
  background-color: white;
  color: #343A40;
  border-bottom: 0px solid #343A40;
}

/* Login Page - two tabs */
#loginRegisterTabs .nav-item {
  width: 50%;
}

#registerForm .form-group {
  margin-bottom: 0;
}
#registerForm dd {
  margin-bottom: 0;
}

/* Login Page - Popup request for new password */
#fgotPswd-popup {
  background-color: whitesmoke;
  margin: 0 auto;
  width: 80%;
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 0;
  right: 0;
}
.error-tip{
  color:crimson !important;
  font-size: 12px;
  padding-top:5px;
}
/* Button to close the pop up*/
#fgotPswd-exit {
  position: relative;
  right: 10px;
  top: 10px;
}
