/* CSS for the index page */
main{
  padding-top:114px !important;
  padding-bottom: 114px !important;
}
@media(min-width:576px) and (max-width:992px){
  #homeLogin{
    padding-left:15px;
    padding-right:15px;
  }
}
@media(max-width:576px){
  #homeLogin{
    margin-top:15px;
    margin-bottom:15px;
  }
}
