/* Css for table located in references page */

/* Modified bootstrap table */
.table{
  border-top: none !important;
  border-left:1px solid #ddd !important;
  border-right:1px solid #ddd !important;
  border-bottom:1px solid #ddd !important;
}

/* Modified navigation tabs located above the table */
#dataTypeNav{
  border:none !important;
}
#dataTypeNav .nav-link.active{
  padding-bottom:10px;
  border:none !important;
  color:black !important;
  background-color: white !important;
}

#dataTypeNav .nav-link:hover{
  text-decoration: none;
}

#dataTypeNav a:not(.active){
  color:white;
}
#dataTypeNav a:not(.active):hover{
  background-color: #ddd;
  color:black;
  border-bottom:1px solid white !important;
}

/* .table,.table-striped{
  border: none !important;
} */
