/* Account Page Styling */
/* Section needed in order to push footer to the bottom of the page*/
html, body {
  height: 100%;
}

#theFooter {
  width: 100%;
  position: absolute;
  bottom: 0;
}

#fill-window {
  min-height: 100%;
  position: relative;
}

/*******************************************************************/
/* Main container surrounding boxed elements */
.box-group {
  margin: 10px 5px;
}

#sideNav .active {
  color: white;
  background-color: #343A40 !important;
  border-color: #343A40 !important;
}
#sideNav *:not(.active) {
  color: black;
}
#sideNav span {
  color: white !important;
}
#sideNav a.active span {
  color: #343A40 !important;
  background-color: white !important;
}
#sideNav a:hover:not(.active) {
  background-color: whitesmoke;
}

/*
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 10%;
  height: 100%;
}

.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}
*/
.tabcontent {
  float: left;
  padding: 0px 12px;
  /*border: 1px solid #ccc;*/
  width: 80%;
  border-left: none;
  height: 100%;
  border-top-style: hidden !important;
}

/* Darkened background with heavier larger fonts */
.box-group-title {
  color: white;
  background: linear-gradient(#222, #343A40);
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  /* Inline button options inside of a box-group-title*/
}
.box-group-title .box-group-options {
  float: right;
  position: relative;
  bottom: 2px;
}

/* Modified borders for the box-group-body */
.box-body-border {
  border: 1px solid #aaa;
  border-radius: 0px 0px 2px 2px;
}

/* Style for button choices */
.btn-list {
  background: linear-gradient(#eee, white);
  text-align: center;
  min-width: 100%;
  padding-top: 9px;
  padding-bottom: 9px;
  border: none;
  border-bottom: 1px solid #ddd;
}
.btn-list:focus {
  box-shadow: none;
}
.btn-list:hover {
  background: #eee;
  cursor: pointer;
}

/* Container of all the button choices */
.optionContainer {
  padding: 0;
  margin: 0;
  max-height: 55vh;
  overflow: auto;
  list-style-type: none;
  border: 1px solid #ddd;
}

/* Modify Border's color */
#logoLeft {
  border-right: 1px solid white;
}

/* Section that displays button choices */
#sumSection {
  width: 100%;
  min-height: 50px;
  max-height: 260px;
  padding: 5px;
  margin-bottom: 10px;
  resize: vertical;
  overflow-y: auto;
  border: 1px solid #aaa;
  border-radius: 3px;
}
#sumSection button {
  margin: 5px;
}

/* Section that displays the results from selection choices */
#resSection {
  background-color: white;
  height: 250px;
  min-height: 100px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  resize: vertical;
  overflow-y: auto;
}

/* Wrapper around resSection and sumSection */
#resultWrap, #sumWrap {
  margin-top: 10px;
  margin-bottom: 10px;
}
